<ion-header class="modal-header">
  <ion-toolbar>
    <ion-title>{{ task ? 'Editar tarea' : 'Nueva tarea' }}</ion-title>
    <ion-button class="closeBtn" slot="end" size="small" (click)="close()" shape="round">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-body">
  <div class="form-container">
    <div class="inputs-containers">
      <ion-input label="Nombre Tarea" [(ngModel)]="name" labelPlacement="floating" placeholder="Escribe Aqui"
        [counter]="true" maxlength="50"></ion-input>
    </div>
    <div class="inputs-containers">
      <ion-textarea label="Descripcion" placeholder="Escribe Aqui" labelPlacement="floating" rows="4"
        [(ngModel)]="description" [counter]="true" maxlength="122"></ion-textarea>
    </div>
    <div class="inputs-containers">
      <ion-item button (click)="openCategoryManager()">
        <ion-label>Categoría</ion-label>
        <ion-button size="small" shape="round" class="category-btn" slot="end">
          {{ selectedCategoryName || 'Seleccionar...' }}
        </ion-button>
      </ion-item>
      @if (task) {
      <div class="containerBtns">
        <ion-button class="sendBtn" shape="round" size="large" (click)="saveTask()">
          <ion-icon slot="icon-only" name="save-outline"></ion-icon>
        </ion-button>
      </div>
      } @else {
      <div class="containerBtns">
        <ion-button class="sendBtn " shape="round" size="large" (click)="saveTask()">
          <ion-icon slot="icon-only" name="send-outline"></ion-icon>
        </ion-button>
      </div>
      }
    </div>



  </div>
</ion-content>