.modal-header {
  --background: #ffffff;
  text-align: center;

  ion-title {
    font-size: 20px;
    font-weight: 600;
  }

  .close-btn {
    font-size: 14px;
    color: var(--ion-color-medium);
  }
}

.modal-body {
  --background: #f6f7fb;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 10px;
}

.input-item {
  border-radius: 14px;
  --background: #fff;
  --border-radius: 14px;
  margin-bottom: 4px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.05);
}

.save-btn {
  margin-top: 10px;
  --border-radius: 12px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
}
