<ion-app>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  @if (configServer.showBottomMenu()) {
  <ion-footer>
    <ion-tab-bar slot="bottom" style="margin-bottom: 15px;">
      <ion-tab-button (click)="goTo('/home')" [class.active-btn]="currentUrl() === '/home'">
        <ion-icon name="library"></ion-icon>
        Tareas
      </ion-tab-button>
      <ion-tab-button (click)="goTo('/profile')" [class.active-btn]="currentUrl() === '/profile'">
        <ion-icon name="search"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
  }@else {
  <p>footer en contruccion</p>
  }
</ion-app>