/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


/* Tema claro por defecto */
:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --ion-font-family: 'Inter', sans-serif;
}

/* Tema oscuro */
body.dark {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

.closeBtn {
  --background: rgba(13, 116, 218, 0.151);
  --color: rgba(104, 104, 105, 0.7);
  margin-right: 4%;
}

:root {
  --ion-color-primary: #3880ff;
  --ion-background-color: #ffffff;
}

/* Tema por defecto */
:root[data-theme='default'] {
  --ion-background-color: #ffffff;
  --ion-text-color: #222;
}

/* SPRING */
[data-theme='spring'] {
  --ion-background-color: #f7f4ff;
  --ion-text-color: #4b3c6e;
  --ion-color-primary: #8e7dff;
  --ion-color-primary-contrast: #ffffff;
}

/* SUMMER */
[data-theme='summer'] {
  --ion-background-color: #fffbe6;
  --ion-text-color: #614c00;
  --ion-color-primary: #ffcc00;
  --ion-color-primary-contrast: #000000;
}

/* AUTUMN */
[data-theme='autumn'] {
  --ion-background-color: #fff3e0;
  --ion-text-color: #5d3311;
  --ion-color-primary: #e27a2d;
  --ion-color-primary-contrast: #ffffff;
}

/* WINTER */
[data-theme='winter'] {
  --ion-background-color: #e8f3ff;
  --ion-text-color: #0e2a47;
  --ion-color-primary: #4da3ff;
  --ion-color-primary-contrast: #ffffff;
}