<ion-header class="modal-header">
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
    <ion-button class="closeBt" slot="end" size="small" (click)="close()" shape="round">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-content">
  <ion-list>
    @for (category of categoryService.categories(); track category.id) {
    <ion-item button (click)="selectCategory(category)">
      <ion-label>{{ category.name }}</ion-label>

      <ion-button fill="clear" slot="end" (click)="startEdit(category); $event.stopPropagation();">
        <ion-icon name="pencil-outline" size="large" color="secondary"></ion-icon>
      </ion-button>

      <ion-button fill="clear" class="deleteIcon"  slot="end" (click)="delete(category.id); $event.stopPropagation();">
        <ion-icon  name="trash" size="large"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>

  <ion-item>
    <ion-input placeholder="Nueva categoría" [(ngModel)]="newName" [counter]="true" maxlength="16"></ion-input>
  </ion-item>

  <ion-button class="btnCreate" expand="block" (click)="saveEdit()">
    {{ editingId ? 'Actualizar categoría' : 'Crear categoría' }}
  </ion-button>

</ion-content>