.modal-header {
    --background: #ffffff;
    text-align: center;
    padding-left: 10%;

    ion-title {
        font-size: 20px;
        font-weight: 600;
    }

    .close-btn {
        font-size: 14px;
        color: var(--ion-color-medium);
    }
}
.deleteIcon{
    --color: rgba(250, 29, 29, 0.877);
}

.btnCreate{
    --background: rgb(66, 156, 247);
}