
.topMenu{
  display: flex; 
  margin: 20px 10px 0px 8px;
}
.containerFilters{
  width: 85%; 
  padding-top: 4px;
}
.home-wrapper {
  padding: 0px 16px 16px 16px !important;
}

.title {  
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--ion-text-color);
}

.task-list {
  display: flex;
  flex-direction: column; 
}

.swiper-slide,
.category-slide {
  width: auto !important;
  flex: 0 0 auto !important;
}

.category-btn {
  white-space: nowrap;
  display: inline-flex;
  padding: 0 5px;
  height: auto;
  align-items: center;
  --background: rgba(13, 116, 218, 0.151);  
  --color: rgba(104, 104, 105, 0.7);
  text-transform: none !important;  
  --box-shadow: none !important;
}
/* Seleccionado */
.category-btn.selected {
  --background: rgb(66, 156, 247);
  --color: #fdfdfd;
}
.menu-button{
  --background: rgba(255, 255, 255, 0.151);  
  --color: rgba(104, 104, 105, 0.7);
  --box-shadow: none !important;
}

ion-fab-button {
  --background: rgb(66, 156, 247);  
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;  
  width: 60px;
  height: 60px;
  border-radius: 16px;
  
}

ion-accordion-group {
  margin-top: 10px;
  --transition: 300ms ease;
}

ion-accordion {
  margin-bottom: 12px;
  border-radius: 16px !important;
  overflow: hidden;
  background: var(--ion-color-light);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

ion-accordion:active {
  transform: scale(0.99);
}

ion-accordion ion-item {
  --background: transparent;
  --border-radius: 0;
  --padding-start: 16px;
  --padding-end: 16px;
  font-weight: 600;
  font-size: 16px;
}

.section-content {
  padding: 12px 16px;
  background: white;
}
.btn-delete-cTask{
  padding-right: 22px;
}
//efecto pulso
.pulse {
  animation: pulse 1.8s ease-in-out infinite;
  animation-delay: 4s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    
  }
  70% {
    transform: scale(1.08);
    
  }
  100% {
    transform: scale(1);
    
  }
}

/* ❄️ Efecto “congelado” */
ion-fab-button.frozen {
  background: #b3d9ff !important; /* azul hielo */
  box-shadow: 0 0 12px rgba(135, 206, 250, 0.8), 
              inset 0 0 10px rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.6);
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

/* ❄️ Escarcha animada dentro del botón */
ion-fab-button.frozen::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -40%;
  width: 180%;
  height: 180%; 
  background-size: cover;
  opacity: 0.25;
  filter: blur(1px);
  animation: frostMove 6s linear infinite;
}

/* ❄️ Animación para la escarcha */
@keyframes frostMove {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(10px, 10px); }
  100% { transform: translate(0, 0); }
}

/* ❄️ Color del icono en modo freeze */
ion-fab-button.frozen ion-icon {
  color: #003366 !important;
}