<ion-content>
    <div class="topMenu">
        <div class="containerFilters">
            <swiper-container slides-per-view="auto">
                <!-- Botón fijo "Todas" -->
                <swiper-slide class="category-slide">
                    <ion-button size="small" shape="round" class="category-btn"
                        [class.selected]="selectedCategoryId() === null" (click)="selectCategory(null)">
                        Todas
                    </ion-button>
                </swiper-slide>
                <!-- Botones dinámicos -->

                @for (category of categories(); track category.id) {
                <swiper-slide class="category-slide">
                    <ion-button size="small" shape="round" class="category-btn"
                        [class.selected]="selectedCategoryId() === category.id" (click)="selectCategory(category)">
                        {{ category.name }}
                    </ion-button>
                </swiper-slide>
                }
            </swiper-container>
        </div>
        <ion-button id="popover-button" class="menu-button">
            <ion-popover trigger="popover-button" [dismissOnSelect]="true">
                <ng-template>
                    <ion-content>
                        <ion-list>
                            <ion-item [button]="true" [detail]="false">Buscar</ion-item>
                            <ion-item [button]="true" [detail]="false" (click)="openCategoryManager()">Editar
                                Categorias</ion-item>
                        </ion-list>
                    </ion-content>
                </ng-template>
            </ion-popover>
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
    </div>

    <!-- FAB agregar task -->
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="openAddTaskModal()">
        <ion-fab-button class="pulse">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="home-wrapper">
        <h2 class="title">Mis tareas</h2>

        <ion-accordion-group [multiple]="true" value="first">

            <!-- PENDIENTES -->
            <ion-accordion value="first">
                <ion-item slot="header">
                    <ion-label>Tareas por hacer</ion-label>
                </ion-item>

                <div class="section-content" slot="content">
                    @if (pendingTasks().length === 0) {
                    <p class="empty-message">Aún no hay tareas creadas.</p>
                    } @else {
                    @for (task of pendingTasks(); track task.id) {
                    <app-task-card [task]="task" (edit)="editTask($event)" (complete)="updateTask($event)">
                    </app-task-card>
                    }
                    }
                </div>
            </ion-accordion>

            <!-- COMPLETADAS -->
            <ion-accordion value="second">
                <ion-item slot="header">
                    <ion-label>Tareas completadas</ion-label>
                </ion-item>

                <div class="section-content" slot="content">

                    @if (completedTasks().length === 0) {
                    <p class="empty-message">No hay tareas completadas aún.</p>
                    } @else {

                    <ion-button class="btn-delete-cTask" color="danger" fill="clear" size="small"
                        (click)="clearCompleted()">
                        <ion-icon name="trash" slot="start"></ion-icon>
                        Eliminar todas las completadas
                    </ion-button>

                    @for (task of completedTasks(); track task.id) {
                    <app-task-card [task]="task" (complete)="updateTask($event)">
                    </app-task-card>
                    }
                    }
                </div>

            </ion-accordion>

        </ion-accordion-group>
    </div>
</ion-content>